.chat {
  font-size: 15px;
  z-index: 999;
  padding:12px;
  background-color: #5290c1;
  border-radius: 15px;
  cursor: pointer;
}
.chat-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-bar__logo {
  height:20px;
  margin-right:10px;
}
.chat-bar__text {
  color: white;
}
.chat-bar--hidden{
  display: none;
}

.chat-content {
  display: none;
  position: absolute;
  transform: translateX(-120px);
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.39);
  transition: 0.2s;
  border-radius: 6px;
  background-color: #f4f4f4;
  z-index: 1;
  cursor: move;
}
.chat-content--show {
  display: block;
}
.chat-content__iframe {
  border: none;
  left: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}
